<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
    <title></title>
    <script src="/js/jquery.min.js"></script>
    <script src="/js/mui.min.js"></script>  
    <script src="/js/mui.poppicker.js"></script>
    <script src="/js/mui.picker.js"></script>
    <link href="/css/mui.min.css" rel="stylesheet"/>
    <link href="/css/mui.poppicker.css" rel="stylesheet"/>
    <link href="/css/mui.picker.css" rel="stylesheet"/>
        <style>
        .table {
                border: 1px solid #cad9ea;
                color: #666;
            }

            .table th {
                background-repeat: repeat-x;
                height: 30px;
            }

            .table td,
            .table th {
                border: 1px solid #cad9ea;
                padding: 0 1em 0;
                text-align: center;
            }

            .table tr.alter {
                background-color: #f5fafe;
            }
    </style>
    <script type="text/javascript">
    mui.init();
    
    var types;
    
    /** 获取消费信息 **/
    $(document).ready(function(){
    	
        var requestData = '{"type_no":-1,"start_date":"","end_date":"","start_page":0,"page_size":9,"only_me":false}';
    	$.ajax({
			url:"cost/total",
			type:"POST",
			data:requestData,
			contentType : 'application/json',
			dataType : 'json',
			success : function(data){
				if(data.statusCode == 200 && data.data != null){
					var totalCostInfos = jQuery.parseJSON(data.data);
					if(totalCostInfos.length > 0){
						$("#totalCost").html("");
						for(var i=0; i < totalCostInfos.length; i++){
							var totalCostInfo = totalCostInfos[i];
							var str = "";
							str = str + '<li class="mui-table-view-cell"><b>'+totalCostInfo.username+'</b>'+totalCostInfo.typeName+'<span class="mui-badge mui-badge-primary">'+totalCostInfo.totalCost+'元</span></li>';
							$("#totalCost").append(str);
						}
					}
				}
			},
			error : function(){
				mui.toast("oh，life开小差了");
			}
    	});
    	
        /*
    	 *	加载分类信息
    	 *
    	 */
         $.ajax({
          	type:"get",
          	url:"types",
          	async:true,
          	success: function(data){
          		if(data.statusCode == 200){
              		types = jQuery.parseJSON(data.data);
          		}else{
          			mui.toast(data.msg);
          		}
          	},
          	error:function(){
          		mui.toast("oh，life开小差了");
          	}
          });  
        
        /*
        *加载消息
        */
         $.ajax({
           	type:"get",
           	url:"/user/notices",
           	async:true,
           	success: function(data){
           		if(data.statusCode == 200){
               		var notices = jQuery.parseJSON(data.data);
               		if(notices != null && notices.length > 0){
               			
               			$("#noticeMsg").html("");
                   		for(var i = 0; i<notices.length; i++){
                   			var notice = notices[i];
                   			$("#noticeMsg").append('<li class="mui-table-view-cell">'+notice.noticeContent+'<span class="mui-badge mui-badge-primary">'+notice.typeName+'('+notice.username+')</span></li>');
                   		}
               		}
           		}
           	},
           	error:function(){
           		mui.toast("oh，life开小差了");
           	}
           });
    	
    });
    
    </script>
</head>
<body>
<header class="mui-bar mui-bar-nav">
    <h1 id="title" class="mui-title"></h1>
</header>
<div class="mui-content">
	<!--
    	作者：1285823170@qq.com
    	时间：2017-12-13
    	描述：通知栏
    -->
	<div class="mui-card">
	<!--页眉，放置标题-->
	<!--页眉，放置标题-->
	<div class="mui-card-header mui-card-media" style="height:auto;background-image:url(/img/header.jpg)"><b>公告栏 </b> <span class="mui-icon mui-icon-compose" style="float: right;" id="notice"></span></div>
	<!--内容区-->
	<div class="mui-card-content" >
     <ul class="mui-table-view" id="noticeMsg"></ul>
</div>
	</div>
</div>
<!--
	作者：1285823170@qq.com
	时间：2017-12-13
	描述：消费总结栏
-->
	<div class="mui-card">
	<!--页眉，放置标题-->
	<div class="mui-card-header">消费情况总览
		<span class="mui-icon mui-icon-redo" id='toCost'></span>
	</div>
	<script type="text/javascript">
    document.getElementById("toCost").addEventListener('tap', function(){
    	window.location.href = 'order';
    });
    
    var typeNo;
    document.getElementById("notice").addEventListener('tap', function(e) 
   	     {
   	         //修复iOS 8.x平台存在的bug，使用plus.nativeUI.prompt会造成输入法闪一下又没了
   	         e.detail.gesture.preventDefault(); 
   	         var btnArray = ['取消', '确认'];
   	         mui.prompt('', '', '新的通知', btnArray, function(e) 
   	         {
   	             if (e.index == 1) 
   	             {   	            	 
   	            	 var content =  $("#content").val();
   	            	 var typeValue = $('#type').val();
   	            	 var noticeData = '{"type_no":'+typeNo+',"notice_content":"'+content+'"}';
   	            	 
   	            	 $.ajax({
   	      					url:"/user/new/notice",
   	 						type:"POST",
   	 						data:noticeData,
			   	 			contentType : 'application/json',
			   	 			dataType : 'json',
			   	 			success : function(data){
			   	 				if(data.statusCode == 200){
			   	 					$("#noticeMsg").append('<li class="mui-table-view-cell">'+content+'<span class="mui-badge mui-badge-primary">'+typeValue+'('+data.msg+')</span></li>');
			   	 				} else{
			   	 					mui.toast(data.msg);
			   	 				}
			   	 			},error : function(){
			   	 				mui.toast("oh，life开小差了");
			   	 			}
   	            	 });
   	             } 
   	             else 
   	             {
   	            	 mui.toast('取消创建');
   	             }
   	         },'div');
   	         var content = "<form class='mui-input-group' style='margin-top:10%;'>";
   	         content = content + "<div class='mui-input-row'><input type='text' class='mui-input-clear' placeholder='通知的分组' id='type' readonly='readonly'></div>";
   	     	 content = content + "<div class='mui-input-row'><input type='text' class='mui-input-clear' placeholder='通知内容' id='content'></div></form>"
   	         $('.mui-popup-input').after(content);
   	         $('.mui-popup-input input').remove();  

   		     document.querySelector('#type').addEventListener("tap", function() {
   		         var roadPick = new mui.PopPicker();//获取弹出列表组建，假如是二联则在括号里面加入{layer:2}
   		         roadPick.setData(types);
   		         roadPick.show(function(item) {//弹出列表并在里面写业务代码
   		        	 var itemCallback=roadPick.getSelectedItems();  
   		       		 $('#type').val(itemCallback[0].text);
   		        	 if(itemCallback[0].value != null){
   		        		typeNo = itemCallback[0].value;
   		       		 }
   		         });
   		     }); 
   	     });
    
    
	</script>
	<!--内容区-->
	<div class="mui-card-content">
	<ul class="mui-table-view" id="totalCost">
    <li class="mui-table-view-cell" style="text-align: center;"><b>暂无信息</b>
    </ul>
	</div>
	</div>
	
	<!-- 发邮件 -->
	<div class="mui-card">
    <div class="mui-card-content">
		<form class="mui-input-group">
			<div class="mui-input-row">
				<label>用户名</label>
				<input type="text" class="mui-input-clear" placeholder="选择查看的分组" id="mail" readonly="readonly">
			</div>
			 	<div class="mui-button-row" style="margin-top: 3%;">
    			<button type="button" data-loading-text="发送中" class="mui-btn mui-btn-primary" id="send" style="width: 95%;">登录</button>       			
 <script type="text/javascript">
	var selectedType;
	mui(document.body).on('tap', '#send', function(e) {
		mui(this).button('loading');      			    
		setTimeout(function() {      			        
			mui(this).button('reset');       			      
		}.bind(this), 500);
	});   
	
 document.querySelector('#mail').addEventListener("tap", function() {
	 console.log("init");
     var roadPick = new mui.PopPicker();//获取弹出列表组建，假如是二联则在括号里面加入{layer:2}
     roadPick.setData(types);
     roadPick.show(function(item) {//弹出列表并在里面写业务代码	    		         
    	 var itemCallback=roadPick.getSelectedItems();  	    		       	    		       	    		        	    		         
   		 $('#mail').val(itemCallback[0].text);
     	 selectedType = itemCallback[0].value;
     });
 }); 
 
	document.getElementById("send").addEventListener('tap', function() {
		console.log("selectedType--"+selectedType);
		$.ajax({
			url:"summeryCost/"+selectedType,
			type:"POST",
			contentType : 'application/json',
			dataType : 'json',
			success : function(data){
				//var result = jQuery.parseJSON(data);
				mui.toast(data.msg);
			},
			error: function(){
				mui.toast('oh，网站貌似有点问题');
			}
			});
	});
       			</script>
       			</div>
       	</form>
	</div>
	</div>
</body>
</html>