<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
    <title>Life</title>
    <script src="/js/jquery.min.js"></script>
    <script src="/js/mui.js"></script>
    <script src="/js/mui.dtpicker.js"></script>
    <script src="/js/mui.poppicker.js"></script>
    <script src="/js/mui.picker.js"></script>
    <link href="/css/mui.css" rel="stylesheet"/>
    <link href="/css/mui.dtpicker.css" rel="stylesheet"/>
    <link href="/css/mui.poppicker.css" rel="stylesheet"/>
    <link href="/css/mui.picker.css" rel="stylesheet"/>
    <script type="text/javascript" charset="utf-8">
    
	mui.init({
		pullRefresh : {
			container:"#refreshContainer",//待刷新区域标识，querySelector能定位的css选择器均可，比如：id、.class等		
   			up : {
   		      height:50,//可选.默认50.触发上拉加载拖动距离
   		      auto:false,//可选,默认false.自动上拉加载一次
   		      contentrefresh : "正在加载...",//可选，正在加载状态时，上拉加载控件上显示的标题内容
   		      contentnomore:'没有更多数据了',
    		    	callback :pullupRefresh //必选，刷新函数，根据具体业务来编写，比如通过ajax从服务器获取新数据；
    		}
  		}
		
	});
	
     /*
     *
     * ajax 预加载页面数据
     */
     var types;
     
     //请求详细信息的参数
     var pageSize = 4;
     var startNo = 0;
     var queryTypeNo = -1;
     var startDate ="";
     var endDate ="";
     var onlyMe = false;
     
     $(document).ready(function(){
         /*
    	 *	加载分类信息
    	 *
    	 */
         $.ajax({
          	type:"get",
          	url:"types",
          	async:true,
          	success: function(data){
          		if(data.statusCode == 200){
              		types = jQuery.parseJSON(data.data);
          		}else{
          			mui.toast(data.msg);
          		}
          	},
          	error:function(){
          		mui.toast("oh，life开小差了");
          	}
          });  
         
         //加载数据
         loadCostInfos(pageSize,startNo,startDate,endDate,onlyMe,queryTypeNo);
     });
     
     function loadCostInfos(pageSize1,startNo1,startDate1,endDate1,onlyMe1,queryTypeNo1){
         /*
          * 获取查询信息
          */
          var requestData = '{"type_no":'+queryTypeNo+',"start_date":"'+startDate1+'","end_date":"'+endDate1+'","start_page":'+startNo1+',"page_size":'+pageSize1+',"only_me":'+onlyMe1+'}';
          console.log(requestData);
          $.ajax({
				url:"cost/info",
				type:"POST",
				data:requestData,
				contentType : 'application/json',
				dataType : 'json',
				success : function(data){
					if(data.statusCode == 200 && data.data != null){
						var costInfos = jQuery.parseJSON(data.data);
						if(costInfos.length <= 0){
							mui.toast("别刷了，没了！");
							mui('#refreshContainer').pullRefresh().endPullupToRefresh(true);
						} else{
							console.log(costInfos.length);
							if(startNo1 == 0){
								$("#scroll").html("");
							}
							for(var i = 0; i< costInfos.length; i ++){
								var costInfo = costInfos[i];
			           			 var str = '<div class="mui-card mui-table-view mui-table-view-chevron" style="margin-top: 5%;">';
			        			 str = str + '<div class="mui-card-header mui-card-media" style="height:auto;background-image:url(/img/header.jpg)"><b>'+costInfo.typeName+'</b></div>';
			        			 str = str + '<div class="mui-card-content" style="height:25vw;background-image:url(/img/header.jpg)">';
			        			 str = str + '<div style="padding-top: 5%;"><div><span class="mui-icon mui-icon-person" style="padding-left: 1%;"></span> <span class="mui-badge mui-badge-primary">'+costInfo.username+'</span>';
			        			 str = str + '<span class="mui-icon mui-icon-star" style="padding-left: 3%;"></span> <span class="mui-badge mui-badge-green">'+costInfo.costDate+'</span>';
			        			 str = str + '<span class="mui-icon mui-icon-locked" style="padding-left: 3%;"></span> <span class="mui-badge mui-badge-warning">'+costInfo.costMoney+'元</span>';
			        			 str = str + '</div><div><span class="mui-icon mui-icon-chatbubble" style="padding-left: 1%;padding-right: 1%;padding-top:3%"></span><span class="mui-badge mui-badge-warning">'+costInfo.costDesc+'</span></div></div></div></div>';
			        			 $("#scroll").append(str);
							}
						}
					}else{
						mui.toast("什么都没了！");
						mui('#refreshContainer').pullRefresh().endPullupToRefresh(true);
					}
					
				},
				error : function(){
					mui.toast("oh，life开小差了");
				}
        	  
          });
     };
     
     /*
     *	下拉刷新消费信息
     *
     */
     function pullupRefresh() {
/*          setTimeout(function() {
                     //找出body标签下所有class为mui-table-view的标签        

                    //refresh completed
                    // mui('#pullup-container').pullRefresh().refresh(true);
                    // mui('#refreshContainer').pullRefresh().refresh(true);
                    //this.endPullupToRefresh(true);
                 }, 1000);
//            this.endPullupToRefresh(true); */

         startNo ++;
         loadCostInfos(pageSize,startNo,startDate,endDate,onlyMe);
    	 mui('#refreshContainer').pullRefresh().endPullupToRefresh(false);


   }
 
/*      function getTotalCost(){
         var requestData = '{"type_no":-1,"start_date":"","end_date":"","start_page":0,"page_size":9,"only_me":false}';
     	$.ajax({
 			url:"cost/total",
 			type:"POST",
 			data:requestData,
 			contentType : 'application/json',
 			dataType : 'json',
 			success : function(data){
 				if(data.statusCode == 200 && data.data != null){
 					var totalCostInfos = jQuery.parseJSON(data.data);
 					console.log(data.data);
 					$(".mui-table-view").html("");
 					for(var i=0; i < totalCostInfos.length; i++){
 						var totalCostInfo = totalCostInfos[i];
 						var str = "";
 						str = str + '<li class="mui-table-view-cell"><b>'+totalCostInfo.username+'</b>'+totalCostInfo.typeName+'<span class="mui-badge mui-badge-primary">'+totalCostInfo.totalCost+'元</span></li>';
 						$(".mui-table-view").append(str);
 					}
 				}
 			},
 			error : function(){
 				mui.toast("oh，life开小差了");
 			}
     } */
</script>
</head>
<body>

<header class="mui-bar mui-bar-nav">
    <a id="back" class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left"></a>
    <h1 id="title" class="mui-title">消费记录详情页</h1>
</header>	
	<!--下拉刷新容器-->
<div id="refreshContainer" class="mui-content mui-scroll-wrapper" style="margin-bottom: 10%;">
  <div class="mui-scroll" id="scroll">
    </div>
  </div>




    <nav class="mui-bar mui-bar-tab mui-bar-footer" id="nav">  
    	    <a class="mui-tab-item " id="a1">  
                <span class="mui-icon mui-icon-search"></span>  
                <span class="mui-tab-label">查询消费</span>  
            </a> 
            <a class="mui-tab-item " id="a2">  
                <span class="mui-icon mui-icon-plus"></span>  
                <span class="mui-tab-label">添加记录</span>
            </a> 
   </nav> 
   
   <script type="text/javascript">
		//输入框prompt
	     document.getElementById("a1").addEventListener('tap', function(e) 
	    	     {
	    	         //修复iOS 8.x平台存在的bug，使用plus.nativeUI.prompt会造成输入法闪一下又没了
	    	         e.detail.gesture.preventDefault(); 
	    	         var btnArray = ['取消', '开始'];
	    	         mui.prompt('', '', '自定义查询', btnArray, function(e) 
	    	         {
	    	             if (e.index == 1) 
	    	             {
	    	            	 startNo = 0;
	    	            	 $("#scroll").html("");
	    	            	 mui("#refreshContainer").scroll().scrollTo(0,-100,0);
	    	            	 //mui('#refreshContainer').pullRefresh().endPullupToRefresh(false);
	    	            	 mui('#refreshContainer').pullRefresh().enablePullupToRefresh(true);
	    	            	 //mui('#refreshContainer').pullRefresh().refresh(true);
	    	            	 loadCostInfos(pageSize,startNo,startDate,endDate,onlyMe,queryTypeNo);
	    	             } 
	    	             else 
	    	             {
	    	            	 mui.toast('取消查询');
	    	             }
	    	         },'div');
	    	         $('.mui-popup-input').after("<form class='mui-input-group' style='margin-top:10%;'><div class='mui-input-row'><input type='text' class='mui-input-clear' placeholder='开始时间' id='startDate' readonly='readonly'></div><div class='mui-input-row'><input type='text' class='mui-input-clear' placeholder='结束时间' id='endDate' readonly='readonly'></div><div class='mui-input-row'><input type='text' class='mui-input-clear' placeholder='消费用途' id='type' readonly='readonly'></div><div class='mui-input-row'>仅看我<div class='mui-switch mui-switch-blue mui-active' id='onlyMe'><div class='mui-switch-handle' ></div></div></div></form>");
	    	         $('.mui-popup-input input').remove();  

	    		     document.querySelector('#type').addEventListener("tap", function() {
	    		         var roadPick = new mui.PopPicker();//获取弹出列表组建，假如是二联则在括号里面加入{layer:2}
	    		         console.log(types);
	    		         roadPick.setData(types);
	    		         roadPick.show(function(item) {//弹出列表并在里面写业务代码
	    		        	 var itemCallback=roadPick.getSelectedItems();  
	    		       		 $('#type').val(itemCallback[0].text);
	    		        	 if(itemCallback[0].value != null){
	    		       	 		 queryTypeNo = itemCallback[0].value;
	    		       		 }
	    		         });
	    		     }); 
		               
	    		     document.querySelector('#startDate').addEventListener("tap", function() {
	    		     var dtpicker = new mui.DtPicker({ 
	    		    	    type: "datetime",//设置日历初始视图模式 
	    		    	    beginDate: new Date(2012, 7, 12, 12, 00),//设置开始日期 
	    		    	    endDate: new Date(),//设置结束日期 
	    		    	    labels: ['年', '月', '日', '时', '分'],//设置默认标签区域提示语 
	    		    	    customData: {}

	    		    	});
	    		    	dtpicker.show(function(e) { 
	    		    	    console.log(e.text); 
	    		    	    $('#startDate').val(e.text);
	    		    	    startDate = e.text;
/* 		    		    	var iTems = dtpicker.getSelectedItems();
		    		    	console.log(iTems);  */
	    		    	})   		

	    		     });

		               
	    		     document.querySelector('#endDate').addEventListener("tap", function() {
	    		     var dtpicker = new mui.DtPicker({ 
	    		    	    type: "datetime",//设置日历初始视图模式 
	    		    	    beginDate: new Date(2012, 07, 12, 12, 00),//设置开始日期 
	    		    	    endDate: new Date(),//设置结束日期 
	    		    	    labels: ['年', '月', '日', '时', '分'],//设置默认标签区域提示语 
	    		    	    customData: {}

	    		    	});
	    		    	dtpicker.show(function(e) { 
	    		    	    console.log(e.text); 
	    		    	    $('#endDate').val(e.text);
	    		    	    endDate = e.text;
/* 		    		    	var iTems = dtpicker.getSelectedItems();
		    		    	console.log(iTems);  */
	    		    	})

	    		     });

                     mui('.mui-switch').switch();
	    	         mui(".mui-switch").switch().toggle(); 
	    	         document.getElementById("onlyMe").addEventListener("toggle",function(event){
	    	        	 onlyMe = event.detail.isActive;
	    	        	  if(event.detail.isActive){
	    	        	    console.log("仅看自己");
	    	        	  }else{
	    	        	    console.log("查看所有");  
	    	        	  }
	    	        	})
	     });

		
		/**
		 * 添加消费记录
		 */
			//输入框prompt
	     document.getElementById("a2").addEventListener('tap', function(e) 
	    	     {
	    			 var selectedType;
	    	         //修复iOS 8.x平台存在的bug，使用plus.nativeUI.prompt会造成输入法闪一下又没了
	    	         e.detail.gesture.preventDefault(); 
	    	         var btnArray = ['取消', '确定'];
	    	         mui.prompt('', '', '添加消费记录', btnArray, function(e) 
	    	         {
	    	             if (e.index == 1) 
	    	             {
	    	            	 var costMoney = $("#money").val();
	    	            	 var costDate = $("#time").val();
	    	            	 var costDesc = $("#desc").val();
	    	            	 if(costDesc == null || costDate == null || costDesc == null || selectedType == null){
	    	            		 mui.toast("请补全消费信息");
	    	            		 throw "cost info can not be null";
	    	            	 }
	    	            	 
	    	            	 // 校验money是否正确
/* 	    	            	 var reg = /^[0-9]+(.[0-9]{2})?$/;
	    	            	 if(reg.test(costMoney)) */
	    	            	 
	    	            	 var costData = '{"type_no":'+selectedType+',"cost_money":"'+costMoney+'","cost_date":"'+costDate+'","cost_desc":"'+costDesc+'"}';
	    	            	 console.log(costData);
	    	            	 $.ajax({
	    	            		 url:"cost/add",
	    	            		 type:"post",
	    	            		 data: costData,       							
	    	            	     contentType : 'application/json',
        						 dataType : 'json',
	    	            		 async:true,
	    	            		 success:function(data){
	    	            			 mui.toast(data.msg);
	    	            			 var typeValue = $("#type").val();
	    	            			 var str = '<div class="mui-card mui-table-view mui-table-view-chevron" style="margin-top: 5%;">';
	    	            			 str = str + '<div class="mui-card-header mui-card-media" style="height:auto;background-image:url(/img/header.jpg)"><b>'+typeValue+'</b></div>';
	    	            			 str = str + '<div class="mui-card-content" style="height:40vw;background-image:url(/img/header.jpg)">';
	    	            			 str = str + '<div style="padding-top: 5%;"><div><span class="mui-icon mui-icon-person" style="padding-left: 1%;"></span> <span class="mui-badge mui-badge-primary">'+data.data+'</span>';
	    	            			 str = str + '<span class="mui-icon mui-icon-star" style="padding-left: 3%;"></span> <span class="mui-badge mui-badge-green">'+costDate+'</span>';
	    	            			 str = str + '<span class="mui-icon mui-icon-locked" style="padding-left: 3%;"></span> <span class="mui-badge mui-badge-warning">'+costMoney+'元</span>';
	    	            			 str = str + '</div><div><span class="mui-icon mui-icon-chatbubble" style="padding-left: 1%;padding-right: 1%;padding-top:3%"></span><span class="mui-badge mui-badge-warning">'+costDesc+'</span></div>';
	    	            			 $("#scroll").append(str);
	    	            			 /* 	    	      var 
	    	            			 $("#scroll"). */
	    	            		 },
	    	            		 error:function(){
	    	            			 mui.toast("oh，服务器开小差了");
	    	            		 }
	    	            	 });
	    	             } 
	    	             else 
	    	             {
	    	            	 mui.toast('取消');
	    	             }
	    	         },'div');
	    	         $('.mui-popup-input').after("<form class='mui-input-group' style='margin-top:10%;'><div class='mui-input-row'><input type='text' class='mui-input-clear' placeholder='消费金额' id='money'><label>元</label></div><div class='mui-input-row'><input type='text' class='mui-input-clear' placeholder='消费时间' readonly='readonly' id='time'></div><div class='mui-input-row'><input type='text' class='mui-input-clear' placeholder='消费用途' id='type' readonly='readonly'></div><div class='mui-input-row'><input type='text' class='mui-input-clear' placeholder='消费描述' id='desc'></div></form");
	    	         $('.mui-popup-input input').remove();   

	    		     document.querySelector('#type').addEventListener("tap", function() {
	    		         var roadPick = new mui.PopPicker();//获取弹出列表组建，假如是二联则在括号里面加入{layer:2}
	    		                   roadPick.setData(types);
	    		         roadPick.show(function(item) {//弹出列表并在里面写业务代码
	    		         var itemCallback=roadPick.getSelectedItems();  
	    		         $('#type').val(itemCallback[0].text);
	    		         selectedType = itemCallback[0].value;
	    		         });
	    		     }); 
		               
	    		     document.querySelector('#time').addEventListener("tap", function() {
	    		     var dtpicker = new mui.DtPicker({ 
	    		    	    type: "datetime",//设置日历初始视图模式 
	    		    	    beginDate: new Date(2015, 04, 25, 00, 00),//设置开始日期 
	    		    	    endDate: new Date(),//设置结束日期 
	    		    	    labels: ['年', '月', '日', '时', '分'],//设置默认标签区域提示语 
	    		    	    customData: {}

	    		    	});
	    		    	dtpicker.show(function(e) { 
	    		    	    console.log(e.text); 
	    		    	    $('#time').val(e.text);
/* 		    		    	var iTems = dtpicker.getSelectedItems();
		    		    	console.log(iTems);  */
	    		    	})

	    		     });
	     });

		$("#back").click(function(){
			window.location.href = "/user/index";
		});
		
/* 	     var dtpicker = new mui.DtPicker({ 
	    	    "type": "time",
	    	    "customData": {
	    	        "h": [ 
	    	            { value: "am", text: "上午" },
	    	            { value: "pm", text: "下午" },
	    	        ]
	    	    } 
	    	})
	    	dtpicker.show(function(e) { 
	    	    console.log(e); 
	    	}) */
   </script>
</body>
</html>